<%- include('partials/header'); -%>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<div class="row">
    <div class="col-6">
        <div class="pl-5 pt-5 bg-light">
            <h3 class="text-danger font-weight-bold">Required Documents </h3>
            <br> <% if(user){ %>
            <h5><%= user.additionalinfo.fullname%></h5>
            <br>
            <h5><%= user.additionalinfo.address%></h5>
            <br>
            <h5>Contact : +918805078063</h5>
            <br>
            <h5>Status : Applied</h5>
            <br><% } %>
        </div>
        <section class="mt-5">
            <div class="row">
             
               <%if(user.images){ user.images.forEach(function(image){ %>
            
              <div class="col-3">
                <div class="card shadow" style="width: 18rem">
                  <img
                    src="data:<%= image.contentType %>;base64, <%= image.imageBase64 %>"
                    class="card-img-top"
                    name="<%= image.filename %>"
                    class="img-fluid"
                    alt="..."
                  />
                  <div class="card-body">
                         </div>
                </div>
              </div>
             
               <% }); }%>
            </div>
          </section>
        <h3 class="pl-5  pt-5 text-danger">First Document Required</h3>
    </div>
    <div class="col">
        <img style="height:700px; width:650px;" src= "https://images.unsplash.com/photo-1554469384-e58fac16e23a?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8YnVpbGRpbmd8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format" />
    </div>
</div>
<%- include('partials/footer'); -%>